.coluna-observacao {
    width: 40%;
}

.coluna-anexo {
    width: 25%;
}

.coluna-acoes {
    width: 5%;
}

.strikethrough {
  text-decoration: line-through;
}

.move-left {
  width: auto;
  box-shadow: none;
}
