<div *ngIf="data && data.length > 0">

  <h3 class="subfieldset">Submetas</h3>

  <siconv-table
    [data]="data"
    [fileExportName]="fileExportName"
    [pagination]="true"
    [export]="export"
    (listaPaginada)="getListaPaginada($event)">

    <thead header>
      <tr>
        <th class="coluna-sem-borda" scope="col"></th>
        <th class="coluna-sem-borda" scope="col"></th>
        <th class="coluna-sem-borda" scope="col"></th>
        <th class="coluna-sem-borda" colspan="2" scope="col">Empresa</th>
        <th class="coluna-sem-borda" colspan="2" scope="col">Convenente</th>
        <th class="coluna-sem-borda" colspan="2" scope="col">Concedente /<br>Mandatária</th>
        <th class="coluna-sem-borda" scope="col"></th>
        <th class="coluna-sem-borda" scope="col"></th>
      </tr>
      <tr>
        <th sortable-column="indice" sortable-type="number" scope="col" >Descrição</th>
        <th scope="col">Valor (R$)</th>
        <th scope="col">Realizado</th>
        <th scope="col">R$</th>
        <th scope="col">%</th>
        <th scope="col">R$</th>
        <th scope="col">%</th>
        <th scope="col">R$</th>
        <th scope="col">%</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-submeta [ngForOf]="lista" let-i="index" >
        <tr [style.background-color]="i % 2 === 0 ? '#f7f7f7' : '#ffffff'" >
          <td rowspan="2"><i tooltip="Assinada" *ngIf="isEdit() && ( (canAccess('editar_submeta_empresa') && submeta.situacaoEmpresa && submeta.situacaoEmpresa.codigo === 'ASS') || (canAccess('editar_submeta_convenente') && submeta.situacaoConvenente && submeta.situacaoConvenente.codigo === 'ASS') || (canAccess('editar_submeta_concedente') && submeta.situacaoConcedente && submeta.situacaoConcedente.codigo === 'ASS') )" class="fas fa-clipboard-check" style="color:#3E67B1; padding-left: 5px;" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{submeta.descricao}}</td>
          <td rowspan="2">{{submeta.valor | currency:'BRL':''}}</td>
          <td >Período</td>
          <td >{{submeta.valorRealizadoEmpresa | currency:'BRL':''}}</td>
          <td >{{submeta.percentualRealizadoEmpresa | number:'1.2-2':'pt'}}</td>
          <td >{{submeta.valorRealizadoConvenente | currency:'BRL':''}}</td>
          <td >{{submeta.percentualRealizadoConvenente | number:'1.2-2':'pt'}}</td>
          <td >{{submeta.valorRealizadoConcedente | currency:'BRL':''}}</td>
          <td >{{submeta.percentualRealizadoConcedente | number:'1.2-2':'pt'}}</td>
          <td rowspan="2">
              <a title="Detalhar" (click)="prepararDetalhamento(submeta.id)" style="min-width: 20px; display: inline-block; padding-right: 2px">
                <i class="fas fa-search md-icone" aria-hidden="true"></i>
              </a>
              <a title="Editar" *ngIf="exibeBotaoEditar() && permiteMarcacao(submeta)" (click)="selecionarSubmeta(submeta.id)" style="min-width: 20px; display: inline-block; padding-right: 2px">
                <i class="fas fa-pencil-alt md-icone" aria-hidden="true"></i>
              </a>
              <a title="Editar" *ngIf="exibeBotaoEditar() && !permiteMarcacao(submeta)" style="min-width: 20px; display: inline-block; padding-right: 2px">
                <i class="fas fa-pencil-alt md-icone-inativo" aria-hidden="true" tooltip="{{msgBotaoEditarInativo}}"></i>
              </a>
          </td>
        </tr>
        <tr [style.background-color]="i % 2 === 0 ? '#f7f7f7' : '#ffffff'">
            <td>Acumulado</td>
            <td>{{submeta.valorRealizadoAcumuladoEmpresa | currency:'BRL':''}}</td>
            <td>{{submeta.percentualRealizadoAcumuladoEmpresa | number:'1.2-2':'pt'}}</td>
            <td>{{submeta.valorRealizadoAcumuladoConvenente | currency:'BRL':''}}</td>
            <td>{{submeta.percentualRealizadoAcumuladoConvenente | number:'1.2-2':'pt'}}</td>
            <td>{{submeta.valorRealizadoAcumuladoConcedente | currency:'BRL':''}}</td>
            <td>{{submeta.percentualRealizadoAcumuladoConcedente | number:'1.2-2':'pt'}}</td>
        </tr>
      </ng-template>
    </tbody>

    <tfoot footer *ngIf = "total">
      <tr>
        <th scope="col" rowspan="2" class="footer-cell-blue" >Total</th>
        <th scope="col" rowspan="2" class="footer-cell-grey" >{{total.valorSubmeta | currency:'BRL':''}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda" >Período</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda" >{{total.valorRealizadoEmpresa | currency:'BRL':''}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda" >{{total.percentualRealizadoEmpresa | number:'1.2-2':'pt'}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda" >{{total.valorRealizadoConvenente | currency:'BRL':''}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda" >{{total.percentualRealizadoConvenente | number:'1.2-2':'pt'}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda" >{{total.valorRealizadoConcedente | currency:'BRL':''}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda" >{{total.percentualRealizadoConcedente | number:'1.2-2':'pt'}}</th>
        <th scope="col" rowspan="2" class="footer-cell-grey" ></th>
      </tr>
      <tr>
        <th scope="col" class="footer-cell-grey coluna-sem-borda-top" >Acumulado</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda-top" >{{total.valorRealizadoAcumuladoEmpresa | currency:'BRL':''}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda-top" >{{total.percentualRealizadoAcumuladoEmpresa | number:'1.2-2':'pt'}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda-top" >{{total.valorRealizadoAcumuladoConvenente | currency:'BRL':''}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda-top" >{{total.percentualRealizadoAcumuladoConvenente | number:'1.2-2':'pt'}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda-top" >{{total.valorRealizadoAcumuladoConcedente | currency:'BRL':''}}</th>
        <th scope="col" class="footer-cell-grey coluna-sem-borda-top" >{{total.percentualRealizadoAcumuladoConcedente | number:'1.2-2':'pt'}}</th>
      </tr>
    </tfoot>

  </siconv-table>

  <div *ngIf="data && data.length === 0" >
      Nenhum registro encontrado.
  </div>

</div>
