table{
  border-collapse: initial;
  padding-left: 20px;
}


.dados-submeta {
  vertical-align: middle !important;
  width: 85px;
}

.tabela-submeta {
  padding-left: 0px;
}

.image {
  cursor: pointer;
}

.footer-cell-blue_custom {
  color: #0a6aa6;
  background-color: white;
  border-bottom: 1px solid #77a7c5;
  font-size: 14px;
}

.footer-cell-grey_custom {
  color: #454546;
  background-color: white;
  border-bottom: 1px solid #77a7c5;
  font-size: 12px;
  font-weight: normal;
}
